{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Control de Asistencia</title>
    <!-- Bootstrap CSS and Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Archivo CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            position: relative;
            min-height: 100vh;
            margin: 0;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("{% static 'images/background.webp' %}") no-repeat center center fixed;
            background-size: cover;
            opacity: 0.3;
            z-index: -1;
        }
    </style>
</head>
<body>
    <!-- Contenedor para alertas -->
    <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x mt-2 w-auto px-3"></div>

    <!-- Modal para seleccionar la sede -->
    <div class="modal fade" id="modalSede" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalSedeLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-primary-emphasis bg-primary-subtle">
                    <h5 class="modal-title" id="modalSedeLabel">Ubicación</h5>
                </div>
                <div class="modal-body text-center">
                    <form id="formSede" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <select class="form-select" id="sede" name="sede" required>
                                <option value="" disabled selected>Selecciona</option>
                                {% for sede in sedes %}
                                    <option value="{{ sede.id }}">{{ sede.ubicacion }} - {{ sede.ciudad }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="button" id="confirmarSede" class="btn btn-animation text-success-emphasis bg-success-subtle border border-success-subtle w-75">
                            Confirmar
                        </button>
                    </form>
                    <hr class="my-3">
                    <div class="text-center">
                        <a href="{% url 'appLobbyRender' %}" class="text-secondary link-offset-2">
                            Ingresar al Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="container-fluid">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center align-items-center vh-100 p-3">
                <div class="reloj-box h-100 w-100 d-flex flex-column justify-content-center align-items-center">
                    <p class="lead my-4 text-wrap w-75">
                        Por favor, escanea tu QR o Código de Barra en el lector cercano para registrar tu ingreso o salida de la sede
                    </p>
                    <span id="fecha" class="display-5"></span>
                    <span id="hora" class="display-1"></span>

                    <!-- Contenedor para información del empleado -->
                    <div id="empleadoInfo" class="my-4 text-center w-100 flex-grow-1 d-flex align-items-center justify-content-center"></div>

                    <!-- Contenedor para mostrar la sede seleccionada -->
                    <span id="sedeSeleccionada" class="lead mt-auto mb-4"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Global JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modalSede = new bootstrap.Modal(document.getElementById('modalSede'));
            modalSede.show();

            iniciarReloj('fecha', 'hora');

            const sedeSelect = document.getElementById('sede');
            const sedeSeleccionadaSpan = document.getElementById('sedeSeleccionada');

            // Función para cargar las sedes desde la API
            function cargarSedes() {
                fetch('/api/sedes/')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Error al cargar las sedes: ${response.statusText}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Limpiar el select antes de agregar las opciones
                        sedeSelect.innerHTML = '<option value="" disabled selected>Selecciona</option>';
                        data.forEach(sede => {
                            const option = document.createElement('option');
                            option.value = sede.id;
                            option.textContent = `${sede.ubicacion} - ${sede.ciudad}`;
                            sedeSelect.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                        showAlert("Error al cargar las sedes. Intenta más tarde.", "danger");
                    });
            }

            cargarSedes(); // Llamar a la función para cargar las sedes al cargar la página

            const confirmarSedeBtn = document.getElementById('confirmarSede');
            const originalText = confirmarSedeBtn.innerHTML;

            sedeSelect.addEventListener('change', () => sedeSelect.classList.remove("is-invalid"));

            confirmarSedeBtn.addEventListener('click', () => {
                const sedeSeleccionada = sedeSelect.value;
                sedeSelect.classList.remove("is-invalid");

                if (!sedeSeleccionada) {
                    sedeSelect.classList.add("is-invalid");
                    showAlert("Seleccione una sede antes de continuar", "warning");
                    return;
                }

                disableButtonWithSpinner(confirmarSedeBtn, "Guardando...");

                fetch("{% url 'defineLocation' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ sede: sedeSeleccionada })
                })
                .then(response => {
                    const status = response.status;
                    let alertType = "secondary";
                    let message = "Operación desconocida";

                    if (status === 200) {
                        alertType = "success";
                        message = "Sede guardada correctamente";
                        modalSede.hide();

                        // Mostrar la sede seleccionada en el span
                        const sedeText = sedeSelect.options[sedeSelect.selectedIndex].textContent;
                        sedeSeleccionadaSpan.textContent = `${sedeText}`;
                    } else if (status === 400) {
                        alertType = "warning";
                        message = "No se envió una sede válida";
                        sedeSelect.classList.add("is-invalid");
                    } else if (status === 405) {
                        alertType = "info";
                        message = "Método no permitido";
                    } else if (status >= 500) {
                        alertType = "danger";
                        message = "Error en el servidor. Intenta más tarde o contacte a Soporte";
                    }

                    showAlert(message, alertType);
                    if (status !== 200) enableButton(confirmarSedeBtn, originalText);
                })
                .catch(error => {
                    console.error('Error:', error);
                    showAlert("Ocurrió un error inesperado", "danger");
                    enableButton(confirmarSedeBtn, originalText);
                });
            });

            // === Captura de lectura del Código ===
            const empleadoInfoContainer = document.getElementById('empleadoInfo');

            let buffer = "";
            let lastTime = Date.now();

            document.addEventListener("keydown", (e) => {
                const now = Date.now();

                // Reiniciar si el tiempo entre teclas es muy largo (tecleo humano)
                if (now - lastTime > 100) {
                    buffer = "";
                }
                lastTime = now;

                if (e.key === "Enter") {
                    const codigo = buffer.trim();
                    buffer = "";

                    if (codigo) {
                        enviarCodigo(codigo);
                    }
                } else {
                    buffer += e.key;
                }
            });

            function enviarCodigo(codigo) {
                // Obtener Fecha y Hora exacta del escaneo del Código
                const now = new Date();
                const fechaHoraRegistro = now.toISOString();

                fetch("{% url 'saveRecord' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        codigo: codigo,
                        fechaHoraRegistro: fechaHoraRegistro
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const empleado = data.empleado;
                        const contenido = `
                            <p class="mb-1 fw-bold fs-2">${empleado.nombre_completo}</p>
                            <p class="mb-1 fs-4">${empleado.cargo}</p>
                            <p class="mb-0 fs-3">${empleado.hora_registro}</p>
                        `;
                        empleadoInfoContainer.innerHTML = cardInfo("success", contenido);
                    } else if (data.warning) {
                        const contenido = `<p class="mb-0">${data.warning}</p>`;
                        empleadoInfoContainer.innerHTML = cardInfo("warning", contenido);
                    } else {
                        const contenido = `<p class="mb-0">${data.error}</p>`;
                        empleadoInfoContainer.innerHTML = cardInfo("error", contenido);
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    const contenido = `<p class="mb-0">Error de conexión</p>`;
                    empleadoInfoContainer.innerHTML = cardInfo("error", contenido);
                });
            }
        });
    </script>
</body>
</html>