{% extends "dashboard.html" %}

{% block title %}Empleados{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
<div class="container-fluid m-2">
    <h3 class="mb-3 d-flex justify-content-center align-items-center fw-bold">Gestión de Empleados</h3>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-sm text-center" id="tabla-empleados">
            <thead class="table-secondary align-middle">
                <tr>
                    <th>#</th>
                    <th>NOMBRE COMPLETO</th>
                    <th>DOCUMENTO</th>
                    <th>CARGO</th>
                    <th>CORREO INSTITUCIONAL</th>
                    <th>ESTADO</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        $('#tabla-empleados').DataTable({
            processing: true,
            serverSide: false,
            ajax: {
                url: "/api/empleados/",
                dataSrc: ""
            },
            columns: [
                { data: null, render: (d,t,r,m) => m.row + 1 },
                { data: "nombre_completo", render: (data) => data ? data.toUpperCase() : "-" },
                {
                    data: "documento",
                    render: function (data, type, row) {
                        let sides = data.split(" - ");
                        let typeSide = sides[0];
                        let formattedNumberDocument = sides[1];
                        let numberDocument = formattedNumberDocument.replace(/\./g, "");

                        if (type === 'display') {
                            return data;
                        }
                        if (type === 'filter' || type === 'sort') {
                            return `${typeSide} - ${numberDocument}`;
                        }
                        return data;
                    }
                },
                { data: "cargo", render: (data) => data ? data.toUpperCase() : "-" },
                { data: null, render: () => "-" },
                { data: "activo", render: (activo) => `
                    <span class="badge text-${activo ? 'success-emphasis' : 'danger-emphasis'} bg-${activo ? 'success-subtle' : 'danger-subtle'}">
                        ${activo ? "Activo" : "Inactivo"}
                    </span>
                `},
                { data: null, orderable: false, render: () => `
                    <div class="dropdown">
                        <a class="text-secondary-emphasis" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Definir Horario</a></li>
                            <li><a class="dropdown-item" href="#">Registro de ingreso</a></li>
                            <li><a class="dropdown-item" href="#">Generar Código QR</a></li>
                        </ul>
                    </div>
                `}
            ],
            pageLength: 25,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json"
            }
        });
    });
</script>

{% endblock %}
